* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #d8dfe6;
}

header h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

nav .navlinks {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

nav ul li a {
    text-decoration: none;
}


nav .navlinks li {
    padding: 1rem;
    margin: .2rem;
    text-transform: uppercase;
    background-color: #C0C0C0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
}


/* main */

/* about me */

section article .background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 15rem;
    background-color: #C0C0C0;
    margin: 1.5rem auto;
}

.background img {
    width: 55%;
    height: 10rem;
    border-radius: 50%;
}

header .me article p {
    padding: 0 .5rem;
    text-align: center;
}

/* portfolio */
main {
    padding: 2rem 0;
    background-color: #F0F8FF;
}

.portfolios header h2 {
    text-align: center;
    padding: 2rem 0;
}

.portfolios img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.portfolios h3,
p {
    text-align: center;
}

.portfolios h3 {
    padding: 2rem;
}

.portfolios p {
    padding-bottom: 2rem;
}

/* hr */
hr {
    width: 90%;
    margin: 0 auto;
}

/* ---hr--- */

/* SKills */

.talent h3 {
    text-align: center;
    padding: 1rem;
}


.talent ul li {
    text-align: center;
    padding: .5rem;
}

/* ---skills--- */

/* footer */

footer {
    background-color: #F0F8FF;
}

.bottomnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomnav ul {
    list-style: none;
}

.bottomnav ul li {
    display: inline-block;
    margin: 2rem;
}

.contact h3,
p {
    text-align: center;
    padding: 1.5rem;
}

.mobilenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.mobilenav p a {
    text-decoration: none;
    text-transform: uppercase;
}

.mobilenav p a:hover {
    font-size: 2rem;
    font-weight: bold;
}


/* hiding bottom nav */
.gone {
    display: none;
}

/* ---- */


/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ---clearfix--- */


/* Media queries */
@media only screen and (min-width: 768px) {

    /* header */
    header .navlinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav .navlinks li {
        background-color: transparent;
    }

    .shortbio {
        display: block;
        float: left;
        text-align: left;
        color: blue;
    }

    .me .background {
        float: right;
        padding: 0 1rem;
    }

    /* ---header--- */

    /* main */

    /* ---main--- */
}





/* ---Media queries--- */