* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Xanh Mono', monospace;
}

/* Header */
header {
    background-color: #d8dfe6;
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 1.5rem 0;

}

nav .navlinks {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

nav ul li a {
    text-decoration: none;
}


nav .navlinks li {
    padding: 1rem;
    margin: .2rem;
    text-transform: uppercase;
    background-color: #C0C0C0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
}


/* main */

/* about me */

section article .background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 15rem;
    background-color: #C0C0C0;
    margin: 1.5rem auto;
}

.background img {
    width: 55%;
    height: 10rem;
    border-radius: 50%;
}

header .me article p {
    padding: 1rem;
    text-align: center;
}

/* portfolio */
main {
    background-color: #F0F8FF;
}

.portolfios {
    padding: 2rem 0;
}



.portfolios h2 {
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
}

.portfolios img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.portfolios h3,
p {
    text-align: center;
}

.portfolios h3 {
    padding: 2rem;
}

.portfolios p {
    padding-bottom: 2rem;
}

/* hr */
hr {
    width: 90%;
    margin: 0 auto;
}

/* ---hr--- */

/* SKills */

.talent {
    margin: 2rem auto;
    text-align: center;
}


.talent ul li {
    text-align: center;
    padding: .5rem;
}

/* ---skills--- */

/* footer */

footer {
    background-color: #F0F8FF;
}

.bottomnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomnav ul {
    list-style: none;
}

.bottomnav ul li {
    display: inline-block;
    margin: 2rem;
}

.contact h3,
p {
    text-align: center;
    padding: 1.5rem;
}

.mobilenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
}

.mobilenav p a {
    text-decoration: none;
    text-transform: uppercase;
}

.mobilenav p a:hover {
    font-size: 2rem;
    font-weight: bold;
}


/* hiding bottom nav */
.gone {
    display: none;
}

/* ---- */


/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ---clearfix--- */


/* Media queries */
@media only screen and (min-width: 768px) {

    /* header */
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav h1 {
        padding-left: 1rem;
    }

    nav .navlinks li {
        display: inline-block;
        background-color: transparent;
    }

    .me .background {
        float: right;
        margin: 2rem;
    }

    #shortbio {
        text-align: left;
        width: 60%;
        padding-top: 4.5rem;
    }

    /* ---header--- */

    /* main */
    #hide {
        display: none;
    }

    .portfolios {
        width: 100%;
        padding: 3rem;
    }

    .portfolios article {
        width: 50%;
        float: left;
    }

    .talent {
        margin-top: 3rem;
    }

    hr {
        width: 100%;
    }

    /* ---main--- */

    /* footer */
    .mobilenav {
        display: none;
    }

    .bottomnav {
        display: inline-block;
    }

    .bottomnav h3 {
        padding-left: 1rem;
    }

    .gone {
        display: flex;
        flex-direction: row;
    }

    /* ---footer--- */

}


@media screen and only (min-width: 1025px) {

    main {
        width: 100%;
    }

    .portfolios article {
        width: 16.67;
        float: left;
    }

    .portfolio-1,
    .portfolio-2,
    .portfolio-3 {
        width: 16.67;
    }
}

/* ---Media queries--- */